<iframe src="//deadsimplechat.com/+PruQx" frameborder="0" width="800px" height="600px"></iframe> 


<!-- <a id="nabblelink" href="http://game-changer.56299.n8.nabble.com/Testing-tp2.html">Testing</a>
<script src="http://game-changer.56299.n8.nabble.com/embed/p2"></script> -->
<img class="dancing_baby" src="https://i.imgur.com/OL8H7cM.gif">