<form action="/profile/<%= current_user.username %>" method="post">
	<input type="hidden" name="_method" value="put">
	<div class="labels">
		<label for="">username (required)</label>
		<label for="">email (required)</label>
		<label for="">password (required)</label>
		<label for="">real name</label>
		<label for="">website</label>
		<label for="">about me</label>
	</div>
	<div class="inputs">
		<input name="username" type="text">
		<input name="email" type="text">
		<input name="password" type="password">
		<input name="real_name" type="text">
		<input name="website" type="text">
		<textarea style="resize:none" name="about_me" type="text"></textarea>
	</div>
	<button>update</button>
</form>
