<section class="search">
	<form action="/search">
		<p>Search by image or artist</p>
		<input name="search" type="text" placeholder="enter name of image or artist">
		<button>Submit</button>

	</form>
</section>
<section class="layout">
	<% @assets.each do |asset| %>
		<div class="asset">
			<a href="/asset/<%= asset.id %>"><img src="<%= asset.image.thumb.url %>"></a>
			<p><%= asset.name %></p>
		</div>
	<% end %>
	
</section>