<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GAMESTAGRAM</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans" rel="stylesheet">
</head>
<body>
	<section class="menu">
<div class="loginbar">
	<% if logged_in? %>
		<a class="current_user">logged in as <%= current_user.username %></a>
		<form action="/session" method="post">
			<input type="hidden" name="_method" value="delete">
			<button class="logout">logout</button>
		</form>
	<% else %>
		<form class="login" action="/session" method="post">
			<label for="">email</label>
			<input type="text" name="email">
			<label for="">password</label>
			<input type="password" name="password">
			<button class="loginbtn">login</button>
			<a class="register" href="/register">Sign Up</a>
		</form>
	<% end %>
</div>
<div class="navbar">
		<nav>
				<a href="/">Home</a>
				<% if logged_in? %>
					<a href="/profile/<%= current_user.username %>"">My Profile</a>
					<a href="/asset/new">Post New Graphic</a>
				<% end %>
		</nav>
</div>
<section class="page">
	<div class="header">
		<h1 class="title">Game Art Library</h1>
	</div>
</section>
<section class="main">
	<main>
		  	<%= yield %>	
	</main>
</section>
</section>
</body>
</html>