<form class="new" action="/asset" method="post" enctype="multipart/form-data">
	<div class="asset_name">
		<label class="name"for="">name</label>
		<input name="name" type="text">
	</div>
	<div class="asset_description">
		<label class="description" for="">description</label>
		<input id="description" name="description" type="text">
	</div>
	<div>
		<label for="">Select Sample Image</label>
		<input type="file" name="image" />
	</div>
	<div>
		<label for="">Select Asset File</label>
		<input type="file" name="asset_file" />
	</div>
	<button class="upload"><p>upload</p></button>
</form>

