<section class="new">
	
<form action="/asset" method="post" enctype="multipart/form-data">
	<div class="labels">
		<label class="name"for="">name</label>
		<label class="description" for="">description</label>
		<label for="">Select Sample Image</label>
		<label for="">Select Asset File</label>
	</div>
	<div class="inputs">
		<input name="name" type="text">
<!-- 		<input id="description" name="description" type="text"> -->
<textarea style="resize:none" name="description" type="text"></textarea>
		<input type="file" name="image" />
		<input type="file" name="asset_file" />
	</div>
	<button class="upload">upload</button>
</form>
</section>

