<form action="/assets" method="post">
	<label for="">name</label>
	<input name="name" type="text">
	<label for="">description</label>
	<input name="description" type="text">	
	<label for="">image</label>
	<input name="image" type="image">
	<label for="">asset file</label>
	<!-- some way to upload file -->
	<button>post</button>
</form>