<form action="/profile" method="post">
	<label for="">username (required)</label>
	<input name="username" type="text">
	<label for="">email (required)</label>
	<input name="email" type="email">
	<label for="">real name</label>
	<input name="real_name" type="text">
	<label for="">website</label>
	<input name="website" type="text">
	<label for="">about me</label>
	<input name="about_me" type="text">
	<button>create account</button>
</form>