* {
	box-sizing: border-box;
	/*background-color: rgb() 0;*/	

}

body {
	/*background-color: #e6e9f0;*/
	background-color: #D1E8E2;
}
 
h1{
	font-family: 'Space Mono', monospace;
	color: #2C3531;
}

h1 {
	font-size: 3em;
}

h2, h3 {
	/*font-size: 1.5em;*/
	text-transform: uppercase;
	text-decoration: underline;	
/*	text-align: left;	
	justify-content: center;*/
	font-family: 'Work Sans', sans-serif;
	color: #2C3531;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	/*font-weight: bolder;*/
	
}

.menu {
	position: fixed;
	width: 100%;
   	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	margin-left: 0;
}
.loginbar, .navbar {
	padding: 10px 20px;
	overflow: hidden;
    top: 0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.loginbar {
	/*background-color: #2C3531;*/
		background-color: #FFCB9A;
	padding-left: 30px;
	color: black;
	font-family: 'Work Sans', sans-serif;
}

.navbar {
	background-color: #116466;
	/*background-color: #FFCB9A;*/
}

nav a {
	display: inline-block;
	color: white;
	padding: 0 10px;
	border-left: solid black 2px;
	font-family: 'Work Sans', sans-serif;
}

nav a:first-child {
	border-left: none;
}

button {
	width: auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
}

.current_user {
	float: right;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	margin-right: 30px;	
}
.title {
	margin: 15px 0;
}
.header {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	align-self: center;
}


.about_me {
	text-align: justify;	
}

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.asset {
	flex-flow: column;
	background-color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.main {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 0 auto;
}

.login  {
	margin: 0 20px 0 0;
	/*width: 90;*/
}


.asset_name {
	width: 100%;
}

label {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
}

button {
	border-radius: 2px;
	box-shadow: inset 0 1px 0 hsla(255,255%,255%,0.05), inset 0 0 1px hsla(255,255%,255%,0.1), 0 4px 6px hsla(0,0%,0%,0.85), 0 1px 2px hsla(0,0%,0%,0.9);
	color: 333333;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
}

button:hover {
	background: linear-gradient(to bottom, #116466 15%, black 90%);
	box-shadow: inset 0 1px 0 hsla(255,255%,255%,0.05), inset 0 0 1px hsla(255,255%,255%,0.1), 0 4px 6px hsla(0,0%,0%,0.85), 0 1px 2px hsla(0,0%,0%,0.9);
	color: white;
}

/*.upload {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}*/

form {
	font-size: 12px;
}

.register {
	float: right;
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
}

.navbar > form > a:last-child {
	float: right;
	color: white;
	border-left: none;
	padding-right: 40px;
}

.login > input {
	margin: 0 30px 0 7px;
	width: 200px;
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	padding-left: 12px;
}


div > input {
	font-size: 14px;	
}


.labels {
	width: 30%;
}

.labels label, .inputs input {
	display: block;
}

.labels label {	
	line-height: 40px;
}

.labels, .inputs {
	display: inline-block;
	vertical-align: top;
}

.inputs {
	width: 68%;
}

.inputs input {
	width: 100%;
	margin: 15px 0;
}

.new {
	padding: 10px;
}


textarea {
	width: 100%;
	margin-bottom: 5px;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    resize: none;
    font-size: 14px;
}

.description {
	margin-bottom: 20px;
}

.dancing_baby {
	float: right;
}
.lost {
	background-image: url("https://i.imgur.com/OL8H7cM.gif");
	opacity: 0.9;
	height: 100vh;
	font-family: 'Space Mono', monospace;	
	color: white;
	text-align: center;
}

.artdisplay {
	/*background-color: white;*/
	margin: 0 auto;
	text-align: center;
}

img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about_me {
	background-color: #116466;
	margin: auto;
	padding: 10px 10px 30px 10px;
	margin-bottom: 20px;
	color: white;
	font-family: 'Work Sans', sans-serif;
}

.about_me > a {
	color: white;
	font-family: 'Work Sans', sans-serif;
}

.about_me > h2 {
	color: #D9B08C
	font-family: 'Work Sans', sans-serif;
}

.search {
	margin-bottom: 10px;
	padding: 10px 10px 20px 10px;
	background-color: #116466;
	color: white;
	font-family: 'Work Sans', sans-serif;
}

a {
	font-family: 'Work Sans', sans-serif;
}
.search form > input {
	background-color: white;
	width: 90%;
	margin-bottom: 15px;
	font-size: 14px;
}

.about_me > a:last-child {
	color: #D9B08C;
	font-family: 'Work Sans', sans-serif;
}

main {
	width: 100%;
	margin: 0 auto;
}

.artdisplay {
	display: block;
	margin: auto 0;
}

.page {
	padding-top: 70px;
}

